---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="contribute">
    <div class="bg-white pt-24 pb-12 sm:pt-32 sm:pb-16">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto lg:mx-0">
                <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl pb-10">
                    Contribute
                </h1>
                <p class="mt-2 text-lg leading-8 text-gray-600">
                    OWASP CycloneDX is an open, consensus-based community project, which aims to be inclusive of all contributions and contributors. Anyone with an interest in the project can join the community, contribute to the project design and participate in the development of the standard and supporting ecosystem of libraries, tools, and documentation.
                </p>
                <p class="mt-2 text-lg leading-8 text-gray-600">
                    CycloneDX consists of multiple working groups. They are:
                </p>
                <p class="mt-2 text-base italic leading-8 text-gray-600">
                    &nbsp;
                </p>
                <div class="border rounded-lg overflow-hidden border-gray-300">
                <table class="min-w-full divide-y divide-gray-200 divide-gray-300">
                    <thead class="bg-gray-100">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" class="px-6 py-3 text-start text-sm font-medium text-gray-500 uppercase">Workgroup</th>
                        <th scope="col" class="px-6 py-3 text-start text-sm font-medium text-gray-500 uppercase">Description</th>
                    </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200 divide-gray-300">
                    <tr>
                        <td rowspan="1" class="pl-0 pr-0 px-1 py-4 bg-gray-100 text-center"><div class="-rotate-90 font-bold">Ecma</div></td>
                        <td class="px-6 py-4 whitespace-nowrap text-base font-medium">Ecma TC54</td>
                        <td class="px-6 py-4 text-base">Technical committee of <a href="https://www.ecma-international.org/">Ecma International</a> responsible for final technical reviews of CycloneDX features and specification versions. Ecma members are encouraged to participate in the work of OWASP and vice versa.</td>
                    </tr>
                    <tr>
                        <td rowspan="4" class="pl-0 pr-0 px-1 py-4 bg-gray-100 text-center"><div class="-rotate-90 font-bold">OWASP</div></td>
                        <td class="col-span-2 px-6 py-4 whitespace-nowrap text-base font-medium">Core (CWG)</td>
                        <td class="px-6 py-4 text-base">The Core Working Group are OWASP members that are responsible for the entirety of the CycloneDX project, including the specification, all tools and libraries, onboarding and offboarding maintainers, and community outreach. The Core Working Group ensures that CycloneDX maintains project continuity. OWASP classifies these individuals as “Leaders” and are documented at <a href="https://owasp.org/cyclonedx">https://owasp.org/cyclonedx</a>.</td>
                    </tr>
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-base font-medium">Industry (IWG)</td>
                        <td class="px-6 py-4 text-base">This is an invite only working group of vendors that use the specification in some way, typically through implementation in one or more products. The IWG is similar to an “on-site customer” in the extreme programming methodology. They provide insight into real-world usage, challenges, and opportunities.</td>
                    </tr>
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-base font-medium">Feature (FWG)</td>
                        <td class="px-6 py-4 text-base">For large features, Feature Working Groups are initiated and tasked with developing the core functionality of that specific feature. Once complete, the feature proceeds through the normal standardization process. Meetings are recorded and <a href="https://www.youtube.com/@CycloneDX">publicly accessible on YouTube</a>.</td>
                    </tr>
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-base font-medium">Community</td>
                        <td class="px-6 py-4 text-base">OWASP projects are vendor neutral, allowing any organization or individual to contribute and have an equal seat at the table. The community may consist of OWASP members and non-members, adopters, and SBOM enthusiasts.</td>
                    </tr>
                    </tbody>
                </table>
                </div>

                <h3 class="mt-16 text-1xl font-bold tracking-tight text-gray-900 sm:text-2xl">
                    CycloneDX specification
                </h3>
                <p class="mt-4 text-lg leading-8">
                    The CycloneDX specification is developed in the open, with complete transparency, using a lightweight, risk-based <a href="https://cyclonedx.org/about/standardization-process">standardization process</a>. Everyone is welcome to participate in the advancement of the core standard and extensions.
                </p>

                <h3 class="mt-16 text-1xl font-bold tracking-tight text-gray-900 sm:text-2xl">
                    Communications
                </h3>
                <p class="mt-4 text-lg leading-8">
                    Ecma TC54 primarily communicates via Slack and utilizes the <a href="https://cyclonedx.org/slack">same Slack instance as CycloneDX</a>. Individual channels exist for the specification, for working groups, and for each official implementation. Everyone interested in Ecma TC54, CycloneDX, and SBOMs in general, is encouraged to participate. Slack invites can be obtained <a href="https://cyclonedx.org/slack/invite">here</a>.
                </p>
            </div>
        </div>
    </div>
</Layout>
