---
import Specification from '@/layouts/Specification.astro';
import NextMeeting from '../components/NextMeeting.astro';

const heading = "Package-URL";
const text = `Package-URL (PURL) is a standardized way to identify and locate software packages across various ecosystems and repositories. The PURL specification defines a consistent format that includes specific components such as type, namespace, name, version, qualifiers, and subpath to uniquely describe a package. This standardization facilitates accurate tracking, analysis, and management of software dependencies, vulnerabilities, and licensing across different package managers and systems.`;

const standards = [
  {
    imgSrc: "/images/ecma-427.jpg",
    name: "ECMA-427",
    edition: "1st Edition",
    publicationDate: "2025-12-10",
    link: "https://ecma-international.org/publications-and-standards/standards/ecma-427/"
  }
];

const specificationDetails = {
    title: "Package-URL (PURL)",
    currentVersion: "1.0",
    publicationDate: "2025-12-10",
    developedBy: ["PURL Community", "Ecma International"],
    standards: standards,
    technicalCommittee: { name: "TC54", link: "https://ecma-international.org/technical-committees/tc54/" },
    taskGroup: { name: "TC54-TG2", link:"https://ecma-international.org/task-groups/tc54-tg2/" },
    websites: ["https://packageurl.org"]
};
---

<Specification
        heading={heading}
        text={text}
        standards={standards}
        specificationDetails={specificationDetails}>

  <h2 class="mt-12 text-2xl font-semibold mb-2">Upcoming Meetings</h2>
  <div class="flex border-b border-gray-300 mb-4" role="tablist">
    <button
      class="tab-button px-4 py-2 text-gray-600 border-b-2 hover:text-blue-600  border-blue-600 text-blue-600 font-semibold focus:outline-none"
      role="tab"
      aria-selected="true"
      aria-controls="tab-tc54"
      id="tab-tc54-btn"
    >
      TC54-TG2 Meeting
    </button>
    <button
      class="tab-button px-4 py-2 text-gray-600 hover:text-blue-600 focus:outline-none"
      role="tab"
      aria-selected="false"
      aria-controls="tab-purl"
      id="tab-purl-btn"
    >
      PURL Community Meeting
    </button>
  </div>

  <div id="tab-tc54" role="tabpanel" aria-labelledby="tab-tc54-btn">
    <h2 class="text-xl font-semibold mb-2">TC54-TG2 Meeting Details</h2>
    <NextMeeting searchTerm="tc54tg2" inviteUrl="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=MWd2bzcydWloM2h1dWZsYnBwN3Rxc2sxYXZfMjAyNjAyMjdUMTUwMDAwWiBjXzg4NGRlY2RlNWExNTI5MDJiYjUxYTYyZjg5NTUwZDBmMzc0ODQ4NDUzNGYwOGM2Mzc5MmYyZTY1NGYyYTdlYmNAZw&tmsrc=c_884decde5a152902bb51a62f89550d0f3748484534f08c63792f2e654f2a7ebc%40group.calendar.google.com&scp=ALL"/>
  </div>
  <div id="tab-purl" role="tabpanel" aria-labelledby="tab-purl-btn" class="hidden">
    <h2 class="text-xl font-semibold mb-2">PURL Community Meeting</h2>
    <NextMeeting searchTerm="purlcommunitycall" inviteUrl="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=M3RjcHM3Ym1rNGhwdXVlcWJsdDNkNWZucWlfMjAyNTA4MDZUMTYwMDAwWiBjXzg4NGRlY2RlNWExNTI5MDJiYjUxYTYyZjg5NTUwZDBmMzc0ODQ4NDUzNGYwOGM2Mzc5MmYyZTY1NGYyYTdlYmNAZw&tmsrc=c_884decde5a152902bb51a62f89550d0f3748484534f08c63792f2e654f2a7ebc%40group.calendar.google.com&scp=ALL" />
  </div>

</Specification>

<script>
  const buttons = document.querySelectorAll(".tab-button");
  const panels = document.querySelectorAll("[role='tabpanel']");

  buttons.forEach((btn) =>
    btn.addEventListener("click", () => {
      buttons.forEach((b) => {
        b.classList.remove("border-blue-600", "text-blue-600", "font-semibold");
        b.classList.add("border-transparent", "border-b-2");
        b.setAttribute("aria-selected", "false");
      });

      panels.forEach((p) => p.classList.add("hidden"));

      btn.classList.remove("border-transparent");
      btn.classList.add("border-blue-600", "text-blue-600", "font-semibold");
      btn.setAttribute("aria-selected", "true");

      const panel = document.getElementById(btn.getAttribute("aria-controls"));
      panel.classList.remove("hidden");
    })
  );
</script>


