---
import Footer from './Footer';
import Header from './Header';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="software transparency, sbom, software bill of materials, obom, hbom, mlbom, aibom, mbom, cbom, saasbom, vdr, vex, cybersecurity, cryptography, license compliance, international standard"/>
    <meta name="robots" content="index,follow"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@EcmaTC54">
    <meta name="twitter:title" content="Ecma TC54 | Software and System Transparency">
    <meta name="twitter:image" content="https://tc54.org/images/twitter-card.png?ts=1673328027">
    <meta name="twitter:description" content="Ecma Technical Committee 54 is chartered to standardize the OWASP CycloneDX Bill of Materials specification, standards and algorithms that advance transparency and identity, and the sharing of transparency information across the supply chain.">
    <meta property="og:title" content="Ecma TC54 | Software and System Transparency">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://tc54.org/images/twitter-card.png?ts=1673328027" />
    <meta property="og:description" content="Ecma Technical Committee 54 is chartered to standardize the OWASP CycloneDX Bill of Materials specification, standards and algorithms that advance transparency and identity, and the sharing of transparency information across the supply chain.">
    <meta name="dcterms.rightsHolder" content="Ecma International">
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <Header client:load />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  .dropdown:hover .dropdown-menu {
    display: block;

  }
  .dropdown button span:hover, .dropdown button:hover {
    color: #FC7C00;
  }
</style>
